* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    fill: #333;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-color: #f0edf2;
    max-width: 100%;
    font: normal normal normal 10px "microsoft yahei", Arial, sans-serif;
}

.nav {
    width: 1368px;
    height: 40px;
    width: 100%;
    padding: 0 40px;
    background-color: black;
    margin: 0 auto;
}

.box1 {
    width: 60px;
    height: 40px;
    float: left;
    margin-right: 30px;
}

.box2 {
    width: 407px;
    height: 40px;
    float: left;
    display: flex;
    border-radius: 5px;
}

.box2 li {
    width: 42px;
    height: 40px;
    margin-left: 20px;
    float: left;
    font-size: 16px;
    color: #f9f9f9;
    line-height: 40px;
}

.support a:hover {
    background-color: orange;
    color: #fff;
}

.support {
    height: 40px;
    margin: 0 50px;
    float: right;
    font-size: 20px;
    color: #f9f9f9;
    line-height: 40px;
    text-decoration: none;
}

.support a {
    text-decoration: none;
    color: #f9f9f9;
}

#footer {
    text-align: center;
    vertical-align: middle;
    height: 150px;
    padding-top: 50px;
    color: #FFF;
    background-color: #333;
}

.top {
    margin: 20px auto;
    top: 80px;
    width: 1519.2px;
    height: 778px;
    background-color: #fff;
}

.title {
    font-size: 25px;
    position: relative;
    top: 100px;
    width: 1519.2px;
    height: 300px;
    text-align: center;
}

.input {
    width: 1200px;
    position: relative;
    bottom: 50px;
    text-align: center;
}

.email {
    width: 700px;
    font-size: 18px;
    color: #393838;
    margin-bottom: 20px;
    padding: 10px 15px;
}

.massage {
    width: 700px;
    height: 100px;
    font-size: 18px;
    color: #393838;
    margin-bottom: 20px;
    padding: 10px 15px;
    border: 1px solid #2b2278;
}

.sent {
    text-align: center;
}

input[type=submit] {
    width: 80px;
    height: 30px;
    line-height: 30px;
    background-color: orange;
    border-radius: 5px;
}